@import "./_reset";

* {
	background-color: #F5F5F1;
}

.container {
	border: 1px solid black;
	width: 100%;
	height: 100vh;
}

header *{
	background-color: white;
}

header {
	margin-bottom: 25px;
	padding-bottom: 25px;
	background-color: white;
	border-bottom: 2px solid darken(#F5F5F1,10);

	a, input {
		display: inline-block;
	}

	a {
	margin: 10px ;
	font-size: 24px;
	font-family: Helvetica;
	color: #F56400;
	}

	input {
		border: 1px solid gray;
		outline: none;
	}

	.search {
		font-size: 18px;
    	width: 50%;
    	margin: 0 auto 0 0;
    	vertical-align: right;
	}

	.search-button {
		font-size: 16.5px;
		margin: 0;
		background-color: #3CB1CB;
		border-left: none;
		color: white;
		vertical-align: left;
	}

	.search-button:hover {
		background-color: lighten(#3CB1CB,10);
	}

	.search-button:active {
		background-color: darken(#3CB1CB,10);
	}
}

a, a:link, a:hover, a:visited {
	text-decoration: none;
}

.listings-container {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	text-align: center;

	.listing {
		margin: 5px auto;
		width: 25%;
		img {
			max-width: 100%;
		}

		.listing-details {
			margin: 0px auto 10px;
			padding-top: 5px;
			padding-bottom: 10px;
			width: 47.88888%;
			line-height: 0;
			background-color: white;
			p, span {
				font-size: 12px;
			}

			p {
				text-align: center;
				margin-left: 5px;
			}
			.favorite {
				font-size: 36px;
				margin: 0;
				padding: 0;
				background-color: white;
			}
			.details {
				width: 100%;
				background-color: white;
				display: table;

				span:first-child {
					color: gray;
					text-align: left;
					display: table-cell;
					background-color: white;

				}

				span:last-child {
					color: #78C066;
					text-align: right;
					display: table-cell;
					background-color: white;
				}
			}
		}

	}
}

.listing-container * {
	background-color: white;
}

.listing-container {
	width: 80%;
	margin: auto;

	.listing-left-col, .listing-right-col {
		display: inline-block;
	}

	.listing-left-col {
		width: 70%;
		padding: 20px;

		img {
			max-width: 100%;
		}

		p {
			padding: 25px 10px;
			font-size: 18px;
			width: 75%;
		}
	}

	.listing-right-col {
		width: 30%;
		vertical-align: top;
		border: 10px solid #E4F3D9;
		padding: 10px;
		line-height: 1;

		h3 {
			font-size: 24px;
			font-weight: bold;
		}

		p {
			font-size: 32px;
			font-weight: bolder;
		}

		.overview {
			li:first-child {
				list-style: none;
				color: black;
			}

			li {
				color: #777777;
				font-size: 18px;
			}
		}
		.favorite {
			margin: 0;
			padding: 0;
		}
	}
}

.fav-view .listings-container {
	display: block;
	text-align: center;
		h2 {
		font-size: 36px;
		text-align: center;
		margin: auto;
		font-family: Helvetica;
		color: #F56400;
		}
}