@import "./_reset";
@import "../../node_modules/toastr/toastr.scss";

$primary-color: #FFFFFF;
$accent-color: #E1E3DF;
$bg-color: #F5F5F1;
$text-color: #666666;
$secondary-font-color: #3292B5;

* {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	min-height: 100vh;
	background: $bg-color;

	.listings-view {
		margin: 0 auto;

		header {
			
		}
	}
}

.make-visible {
	transition: 0.3s all ease-in-out;
	visibility: visible;
}
.make-hidden {
	transition: 0s all ease-in-out;
	visibility: hidden;
}


@media (min-width: 716px) {
}
@media (max-width: 715px) {
}
@media (max-width: 380px) {
}