@import "./_reset";
@import "../../node_modules/toastr/toastr.scss";

$primary-color: #FFFFFF;
$accent-color: #E1E3DF;
$bg-color: #F5F5F1;
$text-color: #666666;
$secondary-font-color: #3292B5;

* {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	min-height: 100vh;
	background: $bg-color;
	header {
		width: 100%;
		border: solid 1px black;
		padding-bottom: 3rem;
		display: inline-block;
		.logo {
			text-decoration: none;
			font-size: 26px;
		}
		.search-wrapper {
			border: solid 1px black;
			display: inline-block;
		}
		.user-wrapper {
			border: solid 1px black;
			display: inline-block;
		}
	}
	.listings-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.listings-view {
		margin: 0 auto;
		width: 80%;
	}
}

.make-visible {
	transition: 0.3s all ease-in-out;
	visibility: visible;
}
.make-hidden {
	transition: 0s all ease-in-out;
	visibility: hidden;
}


@media (min-width: 716px) {
}
@media (max-width: 715px) {
}
@media (max-width: 380px) {
}